.footer {
    /* width: 80%; */
    padding: 60px;
    min-height: 300px;
    /* height: 800px; */
    /* margin: 0 auto; */
}

.footer_height {
    height: 80%;
}

.center_footer a {
    color: white;
}

.active {
    font-weight: bold;
}

.notActive {
    font-weight: 500;
}

.left_footer {
    height: 100%;
}

.right_footer {
    height: 100%;
}