.header {
    width: 90%;
    padding: 20px;
    margin: 20px auto 40px auto;
    /* display: grid; */
    /* grid-template-columns: repeat(3, 100px);
    justify-content: space-between;
    align-items: center; */
    /* margin-bottom: 450px; */
}

.headerList {
    list-style: none;
    /* margin-right: 35px; */
}

.center_header {
    grid-column: 1 / 2; 
}

@media screen and (max-width: 600px) {
    
}

.contact_btn {
    width: 150px;
}