.newsletter {
    min-height: 400px;
}

.email_details {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 20px;
}

.input_field {
    width: 400px;
}

@media screen and (max-width: 600px) {
    .input_field {
        width: 250px;
    }
}

.input {
    width: 100%;
    padding: 20px;
}