.portfolio {
    min-height: 400px;
}

.portfolio_center {
    display: grid;
    margin-top: 30px;
    min-height: 400px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* grid-template-areas: 
    'img1 img2 img2'
    'img1 img3 img4'
    ; */
}

@media screen and (max-width: 600px) {
    .portfolio_center {
        grid-template-columns: 1fr;
    }
}
