.portfolio {
    min-height: 400px;
}

.portfolio_center {
    display: grid;
    margin-top: 30px;
    min-height: 400px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-areas: 
    'img1 img2 img2'
    'img1 img3 img4'
    ;
}

.img1 {
    grid-area: img1;
    height: 400px;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}